* {
    margin: 0;
    padding: 0;
    background-color: var(--bgColor);
    color: var(--textColor);
    font-size: 20px;
    /* border: 1px solid black; */
}

input[type=radio] {
    border: 0px;
    width: 100%;
    height: 1.3em;
}

:root {
    --textColor: #124032;
    --bgColor: #97F0CE;
    --col1: #49D68D;
    --col2: #2AB8B5;
    --col3: #6CBFA1;
    background-color: var(--bgColor);
}

@keyframes wheelHueColor {
    from, to { color: rgb(255, 38, 0); }
    10%      { color: rgb(255, 0, 230); }
    20%      { color: rgb(43, 0, 255); }
    30%      { color: rgb(0, 255, 251); }
    40%      { color: rgb(0, 255, 17); }
    50%      { color: rgb(255, 247, 0); }
    60%      { color: rgb(22,160,133); }
    70%      { color: rgb(233,212,96); }
    80%      { color: rgb(243,156,18); }
    90%      { color: rgb(255, 153, 212); }
}

.logo {
      font-family: 'Righteous', cursive;
      font-size: 50px;
      color: #FFFFFF;
      text-shadow: 0 0 3px #FF0000, 0 0 5px #0000FF;
      animation: wheelHueColor 10s infinite;
      transform: translateY(-50%);
      margin-top: 50px;
      padding-left: 30px;
  }

.radio {
    margin: 0 auto !important;
    padding: 0;
  }

#logoRow h4{
      font-size: 24px;
      color: var(--textColor);
      line-height: 1.2;
      
  }

.pageTop {
    background-color: var(--bgColor);
}

.layoutTable {
    align-items: stretch;
}

.buyBtn, .sellBtn, .tradeBtn {
    /* width: 50px; */
    background-color: var(--col2);
    border-radius: 15px;
    font-size: 25px;
    font-family: 'Righteous', cursive;
    color: var(--textColor);
}

.payment {
    display: flex;
    flex-wrap: nowrap;
    font-size: 20px;
    /* float: left; */
    /* align-items: flex-start; */
    margin-top: 10px;
}

.cryptLabel {
    font-size: 20px;
}

ul {
    color: var(--textColor);
}

#dataPanel {
    border-left: 6px double seagreen;
}

#nOne, #nTwo, #nThree, #nFour {
    background-color: var(--col3);
    height: 300px;
    border-radius: 20px;
}